<div class="page">
    <!--   Header    -->
    <div class="header">
        <h1>ScanHealthy</h1>
    </div>

    <!--   Camera Display -->
    <div class="camera">
        <app-camera-display (newItemEvent)="replaceNutriFacts($event)"></app-camera-display>
    </div>


    <div class="overview">
        <!--    Overview Progress Bar-->
        <div class="overview-header">
            <h2>Overview</h2>
            <h2>{{ progress.toFixed(2) }} % </h2>
        </div>
        
        <div class="progress-container">
            <div class="progress-bar" [style.width.%]="progress"></div>
        </div>

        <!--    Nutrition Facts Table-->
        <div class="nutrition-values">
            <h2>Nutrition Values</h2>
            <li *ngFor="let item of nutritionArray" class="list-item"> 
                <span>{{ item.key }} :</span>
                <div class="units">
                    <span>{{ item.value }}</span>
                    <div class="progress-item">
                        <div class="progress-bar" [style.width.%]="progressUnits[nutritionArray.indexOf(item)]"></div>
                    </div> 
                </div>
            </li>
        </div>
    </div>
</div>
